@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <img src="~/Images/Email.png" />
    <p>
        <b>To Activete your account, check your Email...</b>
    </p>
</div>