@model OnVen.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<br />

<div class="row" style="width: 400px; margin-left: auto; margin-right:auto;">
    <div class="col-md-12">
        <div class="shadow  bg-white rounded">
            <div class="card">
                <div class="card-header"><h4>Recovery Password</h4></div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-warning"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Recover password" class="btn btn-outline-danger btn-sm" />
                            <a asp-action="Login" class="btn btn-outline-success btn-sm">Back to login</a>
                        </div>
                    </form>

                    <div class="text-success">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

