@model OnVen.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<br />

<div class="row" style="width: 400px; margin-left: auto; margin-right:auto;">
    <div class="col-md-12">
        <div class="shadow  bg-white rounded">
            <div class="card">
                <div class="card-header"><h4>Reset Your Password</h4></div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="Token" />

                        <div class="form-group">
                            <label asp-for="UserName">Email</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-warning"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password">New password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-warning"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Reset password" class="btn btn-outline-danger btn-sm" />
                        </div>
                    </form>

                    <div class="text-success">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
